WebEnterprise-mssql/WebEnterprise-mssql.Api/app.db
WebEnterprise-mssql/WebEnterprise-mssql.Api/.vscode
WebEnterprise-mssql/WebEnterprise-mssql.Api/bin
WebEnterprise-mssql/WebEnterprise-mssql.Api/Migrations
WebEnterprise-mssql/WebEnterprise-mssql.Api/obj