.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.posts{
    background-color: rgb(250, 250, 250);
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 4px ridge;
}
.header_posts{
    display: flex;
}
.userposts_name{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    
}
.day{
    display: flex;
    font-size: 10px;
}
.Mode{
    margin-left: 3px;
}
.title-posts{
    margin-top: 15px;
    margin-left: 30px;
    font-size: 13px;
}
.btldc{
    border: rgba(252, 252, 252, 0);
    background-color: rgba(255, 255, 255, 0);
}
.posts-icon{
    margin-left: 85px;
}
.bx-upvote{
    margin-left: 40px;
    font-size: 20px;
    min-width: 80px;
    border-radius: 3px;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: rgba(74, 83, 83, 0.808);
    transition: var(--tran-03);
}
.bx-downvote{
    margin-left: 20px;
    font-size: 20px;
    min-width: 80px;
    border-radius: 3px;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: rgba(74, 83, 83, 0.808);
    transition: var(--tran-03);
}
.bx-comment{
    margin-left: 20px;
    font-size: 20px;
    min-width: 80px;
    border-radius: 3px;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: rgba(74, 83, 83, 0.808);
    transition: var(--tran-03);
}
.bx-show-alt{
    margin-left: 40px;
    font-size: 20px;
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.like{
    margin-left: 5px;
    font-size: 15px;
}
.dislike{
    margin-left: 5px;
    font-size: 15px;
}
.cmt{
    margin-left: 5px;
    font-size: 15px;
}
.view{
    margin-left: 5px;
    font-size: 15px;
}
.bx-upvote:hover , .bx-downvote:hover , .bx-comment:hover  {
    color: var(--primary-color);
}

/* .bx-upvote:hover , .bx-downvote:hover , .bx-comment:hover  {
    color: var(--sidebar-color);
} */