@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.loginpage {
    background-image: url("https://www.gre.ac.uk/__data/assets/image/0024/119652/gr-domes-lawn.jpg");
}
.login{
    background-color: rgba(255, 255, 255, 0.815);
    width: 300px;
    border-radius: 5px;
    font-size: 20px;
    height: 300px;
    margin: 0 auto;
    color: rgba(15, 15, 15, 0.788);
}
.title{
    text-align: center;
    margin-top: 245px;
    font-weight: 15px;
    font-size: 40px;
}
.username{
    margin-left:50px;
    font-size: 15px;
    font-weight: 15px;
    
}
.userpassword{
    margin-left:50px;
    font-size: 15px;
    font-weight: 15px;
}
.name{
    margin-left: 50px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-size: 15px;
    width: 200px;
    background-color: rgba(240, 248, 255, 0.514);
    
}
.pass{
    margin-left: 50px;
    border-radius: 3px;
    font-size: 15px;
    width: 200px;
    background-color: rgba(240, 248, 255, 0.514);
}
.loginBT{
    background-color: rgba(48, 235, 235, 0.719);
    width: 120px;
    margin-top: 25px;
    text-align: center;
    margin-left: 85px;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}
.fgpassword{
    font-size: 10px;
    display: block;
    margin-left: 90px;
    font-size: 12px;
    font-weight: 400;
}