
.posts{
    background-color: rgb(250, 250, 250);
    margin-left: 15px;
    margin-right: 15px;

}
.header_posts{
    display: flex;
}
.user_image img{
    height: 45px;
    width: 45px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 100%;
}
.userposts_name{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    
}
.day{
    display: flex;
    font-size: 10px;
}
.Mode{
    margin-left: 3px;
}
.title-posts{
    margin-left: 40px;
    font-size: 15px;
}
.bxs-like{
    margin-top: 8px;
    margin-left: 40px;
    font-size: 20px;
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.bxs-dislike{
    margin-top: 8px;
    margin-left: 40px;
    font-size: 20px;
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.bxs-comment{
    margin-top: 8px;
    margin-left: 40px;
    font-size: 20px;
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    align-items: center;
    justify-content: center;
}